
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div id="app"> 
        <input id="Button1" type="button" value="提交" v-on:click="btnOk" />
    </div>
</body>
</html>
<script src="~/vue/vue.min.js"></script>
<script src="~/vue/axios.min.js"></script> <!--异步AJAX请求-->
<script>
    var myVue = new Vue({
        el: "#app",
        methods: {
            btnOk: function () {
                axios.post("/Home/Save", null).then(function (db) {
                    console.log(db.data);
                    alert(db.data);
                });
            }
        }
    });
</script>